@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/breakpoints.scss" as *;

.workout-card {
    background-color: $cloud;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 0.5rem;

    &__content{
        display: flex;
        flex-direction: column;
    }

    &__title{
       @include bodyText;
        color: $graphite;
        margin: 0;
    }

    &__info{
        @include bodyTextSmall;
        color: $graphite;
        text-decoration: none;
        margin: 0;
    }

    &__wrapper{
        padding: 0 1rem;
    }
  }
