@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/breakpoints.scss" as *;

a, a:visited, a:hover, a:active {
  color: $white;
    text-decoration: underline;
}

.dashboard {
  &__container {
    height: 100vh;
    padding: 0 0.5rem;
  }

  &__header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;

    &--left {
      justify-self: flex-end;
    }
  }

  &__link{
    color: $white;
    text-decoration: underline;
    position: absolute;
    right: 2rem;
  }
}

.workout {
  padding: 1rem 0.5rem;
  &__wrapper {
    background-color: $white;
    border-radius: 1rem;
  }

  &__name{
    @include pageHeader;
    font-weight: 700;
    color: $graphite;
    padding: 1rem;
    margin: 0;
  }
}

.workout-dashboard__link{
  text-decoration: none;
}
