@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/breakpoints.scss" as *;

.training-maxes {
  &__wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
  }
  &__title {
    @include pageHeader;
    font-weight: 700;
    color: $graphite;
    margin: 0;
  }
  &__info {
    margin: 0;
    text-decoration: underline;
  }
}

