@use "../../styles/partials/fonts.scss" as *;

.forbidden-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  &__title {
    font-size: 6rem;
    animation: colors 0.4s ease-in-out forwards;
  }

  &__subtitle {
    animation: colors 0.4s ease-in-out forwards;
    animation-delay: 0.5s;
  }

  &__link{
    opacity:0;
    animation: show 1s ease-in-out forwards;
    animation-delay: 1s;
  }
}

@keyframes colors{
	50%{transform:scale(1.1);}
}

@keyframes show{
	100%{opacity:1;}
}
